<h1>Create Your Routine</h1>

<%= form_for @routine do |f| %>
<ul>
  <% if current_user %>
    <%= current_user.username %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <li><%= f.collection_select :exercise_id, Exercise.all, :id, :name %></li>
<br>
<br>
<li><%= f.label :reps %></li>
<%= f.text_field :reps %>
<br>
<br>
<li><%= f.submit %></li></ul>
<% end %>
