<div id="new_wrapper">
<h1>Fit Bio</h1>
<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
    <li> <%= error %></li>
  <% end %>
</ul>
<% end %>

<div id="ui_wrapper">
  <div class="ui form">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <br>
      <br>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <br>
      <%= f.label :'What is your fitness goal?' %>
      <%= f.text_field :mood %>
      <br>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>

</div>
