<h1>Fit Bio</h1>
<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
    <li> <%= error %></li>
  <% end %>
</ul>
<% end %>

<div class="ui form">
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :weight %>
  <%= f.text_field :weight %>
  <br>
  <%= f.label :mood %>
  <%= f.text_field :mood %>
  <br>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>
</div>
