<div>

<h1> <%= @user.name %> </h1>
  <!-- User picture -->
  <!-- absence of profile picture gallery of pictures to choose as profile pic -->
  <ul>
  <li><%= @user.name %></li>
  <br>
  <li><%= @user.weight %></li>
  <br>
  <li><%= @user.mood %></li>
  </ul>

  <%= link_to "SEE LEADERBOARD", user_path(@user) %>

</div>

<br>
<br>
<br>

<div>
  <h2>Today's Exercises</h2>

  <%= link_to "LOG NEW EXERCISE", new_routine_path %>

  <% @user.exercises.uniq.each do |e| %>
   <div class="today_exercises"><%= e.name %><br>
    Reps: <%= @user.todays_reps(e.id) %></div>
  <% end %>
</div>

<br>
<br>
<br>

<div>
  <h2>Progress</h2>
  <!-- This is where we will put exercise progress -->
  <!-- last 7 days and lifetime, iterate through all routines and filter for anything that is within the last seven days -->
  <!-- daily goals met -->
  <!-- pushups will go through all users routines, match for exercise type (pushup) and will tally up total amount, or iterate for just last seven days - these would exist in the model as methods -->

<!-- select exercise -->

<% @user.exercises.uniq.each do |e| %>
 <div class="progress"><h3><%= e.name %></h3>
  <p>Last 7 days: <%= @user.weekly_reps(e.id) %></p>
  <p>Lifetime: <%= @user.lifetime_reps(e.id) %></p></div>
<% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
<h2>Earned Badges</h2>

 <!-- Iterates through and displays unlocked badges  -->

  <% @user.badges_earned.each do |ub| %>
    <% badge = Badge.find(ub.badge_id) %>
    <div><%= link_to badge.name, badge_path(badge) %></div>
  <% end %>

<h2>Locked Badges</h2>

<!-- Iterates through and displays locked badges -->

  <% @user.badges_locked.each do |ub| %>
    <% badge = Badge.find(ub.badge_id) %>
    <div><%= link_to badge.name, badge_path(badge) %></div>
  <% end %>
</div>
