<div class="category_div" id="first_div">


  <!-- User picture -->
  <!-- absence of profile picture gallery of pictures to choose as profile pic -->

<div class="profile">
  <h3>RANK</h3>
  <p class="rank_p"># <span class="rank"><%= @user.find_rank %></span> in total reps</p>
</div>
<div class="profile">
  <h3>GOAL</h3>
  <p class="rank_p"><%= @user.mood %></p>
</div>

</div>

<div class="category_div">
  <div style="margin-bottom: 20px;">
  <h2>Today's Reps</h2>

  <button class="ui inverted orange button">
    <%= link_to "LOG NEW EXERCISE", new_routine_path %>
  </button>

  </div>
  <% @user.exercises.uniq.each do |e| %>
  <div class="exercise_div">
    <p><%= e.name.upcase %></p>
    <p><em>Reps:</em>  <span class="reps"><%= @user.todays_reps(e.id) %></span></p>
  </div>
  <% end %>
  <div style="clear:both"></div>
</div>

<div class="category_div" id="last_div">
  <h2>Rep Totals</h2>

<!-- select exercise -->

  <% @user.exercises.uniq.each do |e| %>
   <div class="exercise_div">
    <p><%= e.name.upcase %></p>
    <p><em>7 day:</em> <span class="reps"><%= @user.weekly_reps(e.id) %></span></p>
    <p><em>Lifetime:</em> <span class="reps"><%= @user.lifetime_reps(e.id) %></span></p>
   </div>
  <% end %>
  <div style="clear:both"></div>
</div>
